.idea
/.htaccess
/upload/
logs/
/sitemap*.xml
~*
*.log
/*.sql
Thumbs.db
.DS_Store
._.DS_Store
/robots.txt

/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/backup/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/resize_cache/
*/managed_cache
